.cart_container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.cart_container table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.cart_container table thead tr th {
  text-align: center;
  padding: 10px;
  background: #f5f5f5;
  color: red;
}

.cart_container table tbody tr td {
  text-align: center;
  padding: 10px;
}

.cart_container table tbody tr td img {
  width: 150px;
  height: 150px;
}

.cart_container table tbody tr td.name {
  font-size: 20px;
  font-weight: bold;
}

.cart_container table tbody tr td.sub_price {
  font-size: 20px;
  font-weight: bold;
}

.cart_container table tbody tr td.total_price {
  font-size: 20px;
  font-weight: bold;
}

.cart_container table tbody tr td.quantity button {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background: #f5f5f5;
  cursor: pointer;
  font-size: 20px;
}

.cart_container table tbody tr td.quantity input {
  width: 50px;
  height: 30px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 20px;
}

.cart_container table tbody tr td.quantity input::-webkit-outer-spin-button,
.cart_container table tbody tr td.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart_container table tbody tr td.delete {
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.cart_container table tbody tr td.delete svg {
  cursor: pointer;
  margin: 0 auto;
}

.cart_options {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.cart_options button {
  padding: 10px 20px;
  border: none;
  outline: none;
  background: #f5f5f5;
  cursor: pointer;
  font-size: 20px;
  border-radius: 1rem;
}

.cart_options button:hover {
  background: #f3be76;
  color: #fff;
  transition: all 0.5s ease;
}

.cart_total {
  width: 500px;
  background: #f5f5f5;
  padding: 20px;
  border-radius: 0.5rem;
  margin-left: auto;
}

.cart_total .title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.cart_total .title h3 {
  font-size: 30px;
  font-weight: bold;
}

.cart_total .title .breakrum {
  width: 50%;
  height: 2px;
  background: #ddd;
}

.cart_total .total_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cart_total .total_price span {
  font-size: 20px;
  font-weight: bold;
  color: var(--btn-checkout);
}

.cart_total button {
  width: 100%;
  padding: 10px 20px;
  border: none;
  outline: none;
  background: var(--btn-checkout);
  cursor: pointer;
  font-size: 20px;
  border-radius: 1rem;
  color: #fff;
}

/* reponsive */

@media screen and (max-width: 1024px) {
  .cart_container {
    width: 100%;
  }
  .cart_container table tbody tr td.name {
    font-size: 16px;
  }

  .cart_container table tbody tr td img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }

  .cart_container table tbody tr td.sub_price {
    font-size: 16px;
  }
  .cart_container table tbody tr td.total_price {
    font-size: 16px;
  }
  .cart_container table tbody tr td.quantity button {
    font-size: 16px;
  }
  .cart_container table tbody tr td.quantity input {
    font-size: 16px;
  }
  .cart_container table tbody tr td.delete {
    font-size: 16px;
  }
  .cart_container table tbody tr td.delete svg {
    width: 20px;
    height: 20px;
  }
  .cart_total {
    width: 100%;
  }
  .cart_total .title h3 {
    font-size: 20px;
  }
  .cart_total .total_price span {
    font-size: 16px;
  }
  .cart_total button {
    font-size: 16px;
  }
}
