header {
  width: 100%;
  background-color: #f3be76;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

header nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

header nav a:hover {
  color: #4d351d;
}

.header_logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  margin-right: 25rem;
  width: 150px;
  height: 150px;
}

.header_logo img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}

.header_icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header_icons svg {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.header_icons .cart {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: #fff;
  position: relative;
}

.header_icons .cart_detail {
  position: absolute;
  top: 8rem;
  right: 0.5rem;
  width: 300px;
  min-height: 200px;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 500;
  color: black;
  flex-direction: column;
  padding: 1rem;
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header_icons .cart_detail::after {
  content: "";
  position: absolute;
  top: -1rem;
  right: 3rem;
  border: 1rem solid;
  border-color: #fff transparent transparent transparent;
}

.header_icons .cart_detail.active_cart {
  display: flex;
}

.header_toggle {
  display: none;
}

.header_icons .cart_item {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.header_icons .cart_item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.header_icons .cart_item .cart_item_detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.cart_item_detail h3 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000;
}

.cart_item_detail .price {
  font-size: 1rem;
  font-weight: 700;
  color: #f52814;
}

.cart_item_detail .quantity {
  font-size: 1rem;
  font-weight: 700;
  color: #000;
}

.header_icons .cart_item svg {
  cursor: pointer;
  color: red;
  font-size: 1.2rem;
}

.header_icons .cart_total_money {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #f52814;
  display: flex;
  gap: 0.2rem;
  margin-bottom: 1rem;
}

.header_icons .cart_btn .cart_btn_buy {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  background-color: green;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
}

/* reponsive */

@media screen and (max-width: 768px) {
  header {
    padding: 1rem;
  }

  header nav {
    position: fixed;
    top: 170px;
    left: 0;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    background-color: #f3be76;
    transition: all 0.5s ease;
    transform: translateX(-100%);
    z-index: 999;
  }

  header .responsive_nav {
    transform: translateX(-10%);
  }

  header .responsive_nav a {
  }

  .header_logo {
    font-size: 2rem;
    margin-left: 2.5rem;
    margin-right: 0;
  }

  .header_icons {
    margin-left: 2rem;
  }

  .header_toggle {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
  }

  .header_icons .cart_detail {
    width: 100%;
    top: 4rem;
    right: 0;
    border-radius: 0;
    padding: 0;
  }

  .header_icons .cart_detail::after {
    display: none;
  }
}
