.each-slide-effect {
  width: 100%;
  height: 800px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.each-slide-effect img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.react-multiple-carousel__arrow {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

/* reonsive */

@media (max-width: 768px) {
  .each-slide-effect {
    height: 500px;
  }
}
